<a href="https://colab.research.google.com/github/abhayforML/CompareMLmodels/blob/main/DNNkeras_Group1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

#kera libraries below
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Activation, Dense, Dropout

from keras.metrics import categorical_crossentropy

#reading data from github and creating DataFrame
import requests
import io

#your sample raw url looks like this
#https://raw.githubusercontent.com/your-username/name-of-the-repository/master/name-of-the-file.csv

#url of project data
url = 'https://raw.githubusercontent.com/abhayforML/CompareMLmodels/main/heart-2.csv'
download = requests.get(url).content

#create df of pandas
df = pd.read_csv(io.StringIO(download.decode('utf-8')))
df.isnull().sum()
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [9]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df.Sex

df['ChestPainType'] = le.fit_transform(df['ChestPainType'])
df.ChestPainType

df['RestingECG'] = le.fit_transform(df['RestingECG'])
df.RestingECG

df['ExerciseAngina'] = le.fit_transform(df['ExerciseAngina'])
df.ExerciseAngina

df['ST_Slope'] = le.fit_transform(df['ST_Slope'])
df.ST_Slope

df.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
5,39,1,2,120,339,0,1,170,0,0.0,2,0
6,45,0,1,130,237,0,1,170,0,0.0,2,0
7,54,1,1,110,208,0,1,142,0,0.0,2,0
8,37,1,0,140,207,0,1,130,1,1.5,1,1
9,48,0,1,120,284,0,1,120,0,0.0,2,0

In [11]:
col_norm = ['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
            'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope']

#Note last column is dropped which is the Target column

df_norm = df[col_norm]
df_norm.head()

#Normalization below using a function
df1_norm = df[col_norm].apply(lambda x:(x-x.min())/(x.max()-x.min()))

df1_norm.head()

X_data = df1_norm
print(X_data.head())

Y_data = df['HeartDisease']
print(Y_data.head())

        Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS  \
0  0.244898  1.0       0.333333       0.70     0.479270        0.0
1  0.428571  0.0       0.666667       0.80     0.298507        0.0
2  0.183673  1.0       0.333333       0.65     0.469320        0.0
3  0.408163  0.0       0.000000       0.69     0.354892        0.0
4  0.530612  1.0       0.666667       0.75     0.323383        0.0

   RestingECG     MaxHR  ExerciseAngina   Oldpeak  ST_Slope
0         0.5  0.788732             0.0  0.295455       1.0
1         0.5  0.676056             0.0  0.409091       0.5
2         1.0  0.267606             0.0  0.295455       1.0
3         0.5  0.338028             1.0  0.465909       0.5
4         0.5  0.436620             0.0  0.295455       1.0
0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [12]:
model = Sequential(name='DNN_Group1_model')
#model.add(Dropout(0.2, input_shape=(11,)))
model.add(Dense(units=64, input_dim=11, activation='relu',name='layer1'))
model.add(Dense(units=64, activation='relu',name='layer2'))
model.add(Dense(units=32, activation='relu',name='layer3'))
model.add(Dense(units=1, activation='sigmoid',name='layer4'))

from tensorflow.keras.optimizers import Adam

# Compile model
#model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
model.compile(loss='mse', optimizer='Adam', metrics=['accuracy'])

# Fit the model
model.fit(X_data, Y_data, epochs=500, batch_size=50, verbose=0)
model.summary()

# evaluate the model
scores = model.evaluate(X_data, Y_data)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

#!pip install ann_visualizer

from ann_visualizer.visualize import ann_viz
ann_viz(model, view=True, filename='projectDNN.gv', title='Project Neural Network')

Model: "DNN_Group1_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 layer1 (Dense)              (None, 64)                768

 layer2 (Dense)              (None, 64)                4160

 layer3 (Dense)              (None, 32)                2080

 layer4 (Dense)              (None, 1)                 33

=================================================================
Total params: 7,041
Trainable params: 7,041
Non-trainable params: 0
_________________________________________________________________
29/29 [==============================] - 0s 1ms/step - loss: 0.0224 - accuracy: 0.9749

accuracy: 97.49%